* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #111;
}

section {
    position: relative;
    padding: 100px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.toggle img{
    max-width: 40px;
    cursor: pointer;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fit-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.content {
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.content h2 {
    color: #fff;
    font-size: 5rem;
}

.content p {
    color: #fff;
    font-size: 1.2rem;
}

.content span {
    display: block;
    color: #fff;
    font-size: 0.8rem;
}

.content span a {
    color: #fff;
}

.button {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 30px;
    background: #fff;
    color: #333;
    text-decoration: none;
}

.about {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-box {
    max-width: 50%;
    width: 50%;
    
}